@import "../../styles/styles.scss";

li.app-list-item {
	display: flex;
	align-items: center;
	list-style-type: none;

	span > p {
		width: rem(255px);
		height: auto;
		text-align: left justify;
		text-overflow: wrap;
	}
}
