@import "../../styles/variables";
@import '../../styles/styles';

.app-watermark {
	svg + span {
		justify-content: space-evenly;
	}
	.watermark {
		@include fontfacer("Regular", $normal-weight);
		text-align: center;
		line-height: fontsize-and-lineheight(14.5465px, 17px);
		color: $watermark-gray;
	}
}
