@import "../../styles/variables";
@import "../../styles/mixins";

.btn {
	@include regular-button;
	margin: auto 0;
	border: none;
	&-cancel {
		border: none;
		background: transparent;
		padding: 0.25rem 0.25rem;
	}
	&-secondary {
		padding: rem(13px) 1rem;
		@include secondary-button;
	}
}
