@import "../../styles/variables";
@import "../../styles/mixins";

input.app-text-input {
	width: rem(312px);
	height: rem(30px);
	padding: auto;
	@include fontsize-and-lineheight(20px, 23.44px);
	color: $sea-blue;
	@include text-input;
	&[placeholder],
	&::placeholder,
	&:placeholder-shown {
		color: $sea-blue;
	}
}
