@import "_variables";

@mixin reset {
	margin: 0;
	padding: 0;
}

/* component backgrounds */

@mixin container-body {
	background-color: $atom-gray;
	width: 100%;
	height: 100%;
	opacity: 0.9;
	overflow-y: hidden;
}

@mixin survey-base {
	background-color: inherit;
	opacity: 0.9;
	justify-content: center;
	align-items: center;
	~ .btn-cancel + .app-logo {
		justify-content: space-evenly;
		align-items: center;
	}
}

/* Button types */
@mixin button-call-to-action {
	text-transform: uppercase;
	text-decoration: none;
	color: $zero-black;
}

@mixin regular-button {
	a,
	a:hover {
		@include button-call-to-action;
	}
	background-color: $mint-green;
	height: 50px;
	width: 312px;
	border-radius: 0.5rem;
	box-shadow: $atomic-4px-box-shadow;
}

@mixin secondary-button {
	height: 50px;
	width: 93px;
	border-radius: 0.5rem;
	border: none;
	background-color: $pastel-blue;
	box-shadow: $card-box-shadow;
	justify-content: center;
	align-items: center;
	p {
		font-weight: $medium-weight;
	}
}

@mixin icon($size, $bg-color) {
	box-sizing: border-box;
	background-color: $bg-color;
	width: $size;
	height: $size;
	background-size: 100%;
	border: 0;
	border-radius: 50%;
	&.light-shadow {
		box-shadow: $atomic-4px-box-shadow;
	}
}

@mixin text-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid $charcoal-gray;
}

/* navigation */
@mixin nav {
	background: $sea-blue;
	height: percentage(60px/812px);
	width: 100vw;
	position: fixed;
	padding: rem(11px) rem(28px);
	box-shadow: $footer-box-shadow;
	z-index: 99;
	left: 0;
	bottom: 0;
	.nav-button {
		@include nav-button;
	}
	.pagination {
		justify-content: flex-start;
		color: $white;
	}
}

@mixin nav-button {
	width: rem(36.58px);
	height: rem(36.58px);
	position: absolute;
	opacity: 1;
	margin: 0;
	top: 18.33%;
	bottom: 20.69%;
	background: $white;
	border-radius: 2.52308px;
	border: 0;
	align-items: baseline;

	svg {
		@include reset;
		box-sizing: content-box;
	}

	&.up {
		left: 68.8%;
		right: 21.44%;
	}

	&.down {
		left: 80.8%;
		right: 9.44%;
	}
	&:active,
	&:hover {
		background-color: $white-80-percent;
		transition: ease-out 0.3s;
	}
}

@mixin card {
	height: rem(88px);
	width: rem(312px);
	top: 0px;
	left: 0px;
	border-radius: 0.25rem;
	padding: rem(25px) rem(18px);
	background: $white;
	border: 1px solid $watermark-gray;
	box-sizing: border-box;
	box-shadow: $card-box-shadow;
	h4,
	p {
		margin: unset;
	}
}
