@use "sass:math";
@import "_variables";
@import "_mixins";

:root {
	font-family: var(--#{$font-stack});
	--sea-blue: var(--#{$sea-blue});
}

[class^="col-"] {
	float: left;
	margin-right: $grid-spacing;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	&:last-child {
		margin-right: 0%;
	}
}

html,
body {
	@include reset;
	width: 100%;
	height: 100vh;
	color: $charcoal-gray;
}

.container {
	display: flex;
	flex: 1;
	@include container-body;
	width: inherit;
	height: 100vh;
	padding: rem(14px) rem(32px);
	flex-flow: column nowrap;
	justify-content: center;
	align-items: baseline;
}
// iphone 5/se
@media (max-width: $breakpoint-min) {
	html,
	body {
		font-size: 70%;
	}
	.container {
		padding: 0em 1rem;
	}
}
@media (min-width: $breakpoint-min) and (max-width: $breakpoint-iphone-x) {
	body {
		font-size: 100%;
		box-sizing: content-box;
	}
	.cover,
	.cover-text {
		display: none;
	}
}
@media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
	body {
		font-size: 100%;
		box-sizing: content-box;
	}
	.cover,
	.cover-text {
		display: none;
	}
}

@media screen and (min-width: $breakpoint-max +1) {
	.cover {
		position: fixed;
		width: 100vw;
		height: 100vh;
		display: inline;
		background-color: $atom-gray;
		z-index: 1000;
		.cover-text {
			display: inline-block;
		}
	}
}

.small {
	@include fontfacer("Regular", $normal-weight);
	@include fontsize-and-lineheight(12px, 14.06px);
}

p {
	@include fontfacer("Regular", $normal-weight);
	@include fontsize-and-lineheight(18px, 21px);
	&.cta {
		@include button-call-to-action();
	}
	&.sea-blue {
		color: $sea-blue;
	}
}

.watermark {
	@include fontfacer("Regular", $normal-weight);
	text-align: center;
	line-height: fontsize-and-lineheight(14.5465px, 17px);
	color: $watermark-gray;
}

h1 {
	@include fontfacer("Bold", $bold-weight);
	@include fontsize-and-lineheight(40px, 46.88px);
}

h2 {
	@include fontfacer("Bold", $bold-weight);
	@include fontsize-and-lineheight(38px, 45px);
}

h3 {
	@include fontsize-and-lineheight(24px, 28px);
	@include fontfacer("Bold", $bold-weight);
}

h4 {
	@include fontsize-and-lineheight(17.0345px, 20px);
	@include fontfacer("Medium", $medium-weight);
}

h6 {
	@include fontfacer("Regular", $normal-weight);
	line-height: fontsize-and-lineheight(14.4471px, 17px);
}

nav {
	background: $sea-blue;
	@include nav;

	.nav-button {
		@include nav-button;
	}
}

.badge {
	&-sm {
		box-sizing: content-box;
		@include icon(36px, $pastel-blue);
		padding: rem(8px) rem(13px);
		margin-right: rem(21px);
		display: inline;
		p {
			display: inline;
			align-self: baseline;
			padding: 0;
			text-align: center;
		}
	}
	&-lg {
		box-shadow: $atomic-4px-box-shadow;
		@include icon(100px, $pastel-blue);
		padding: rem(22.5px) rem(20px);
	}
}

.d {
	&-none {
		display: none;
	}
	&-flex {
		display: flex;
	}
	&-inline {
		display: inline;
	}
	&-block {
		display: block;
	}
	&-inline-block {
		display: inline-block;
	}
	&-inline-flex {
		display: inline-flex;
	}
}

span > svg,
svg {
	box-sizing: content-box;
}
