@import "../../styles/variables";
@import "../../styles/mixins";

.app-logo {
	display: inline-flex;
	position: absolute;
	justify-content: flex-start;
	align-items: center;
	left: rem(28px);
	top: percentage(37px/812px);
	height: rem(25px);

	~ h6 {
		cursor: pointer;
	}
}
