@use "sass:math";
@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

h1 {
	box-sizing: content-box;
	text-align: center;
}

.badge-lg {
	margin: percentage(126px/812px) percentage(137px/375px);
	justify-content: center;
}

button.btn {
	@include regular-button;
	border: none;
}

.btn-cancel {
	position: absolute;
	top: rem(35px);
	right: rem(35px);
}

button.badge-lg,
.app-watermark {
	justify-content: center;
	align-items: baseline;
}

.app-watermark {
	display: inline-flex;
	position: relative;
	margin: auto rem(118px - 40px);
}
