@import "../../styles/variables";
@import "../../styles/mixins";

.app-numbered-question {
	position: absolute;
	top: percentage(103px/812px);
	left: percentage(28px/375px);
	width: rem(312px);
	height: rem(56px);
	margin-bottom: rem(40px);
	h3 {
		justify-content: baseline;
		@include reset;
		width: rem(255px);
		height: rem(56px);
		p {
			@include reset;
			text-align: left;
			text-overflow: wrap;
		}
	}
}
