@import "src/styles/variables";
@import "src/styles/mixins";

.container {
	@include survey-base;
}
.app-text-input {
	top: percentage(199px/812px);
}
.btn-secondary {
	top: percentage(249px/812px);
}

.app-text-input,
.btn-secondary {
	position: absolute;
	left: rem(31px);
}
